name: Backend Tests

on:
  push:
    branches:
      - main
      - master
      - develop
      - feature/**
  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate Prisma Clients
        env:
          MASTER_DATABASE_URL: postgres://user:pass@localhost:5432/master_dummy
          TENANT_DATABASE_URL: postgres://user:pass@localhost:5432/tenant_dummy
        run: |
          npx prisma generate --schema=prisma/master/schema.master.prisma
          npx prisma generate --schema=prisma/tenant/schema.tenant.prisma

      - name: Run tests
        env:
          NODE_ENV: test
          MASTER_DATABASE_URL: postgres://user:pass@localhost:5432/testdb
        run: npm test
